tyk-pro
tyk-dashboard/
tyk-gateway/
tyk-pump/
output.yaml
values_real.yaml
**/.DS_Store

!tyk-hybrid/mounts/.gitkeep
tyk-hybrid/mounts/*

!tyk-headless/mounts/.gitkeep
tyk-headless/mounts/*

**copy.yaml
