tyk-dashboard/
tyk-gateway/
tyk-pump/
output.yaml
tyk-pro/old_tpl
values_real.yaml
**/.DS_Store
**/.idea

!tyk-pro/mounts/.gitkeep
tyk-pro/mounts/*

!tyk-hybrid/mounts/.gitkeep
tyk-hybrid/mounts/*

!tyk-headless/mounts/.gitkeep
tyk-headless/mounts/*

.vscode