apiVersion: apps/v1
kind: {{ .Values.gateway.kind }}
metadata:
  name: gateway-{{ include "tyk-hybrid.fullname" . }}
  labels:
    app: gateway-{{ include "tyk-hybrid.fullname" . }}
    chart: {{ include "tyk-hybrid.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
{{- if eq .Values.gateway.kind "Deployment" }}
  replicas: {{ .Values.gateway.replicaCount }}
{{- end }}
  minReadySeconds: 10
{{- if eq .Values.gateway.kind "Deployment" }}
  strategy:
{{- else }}
  updateStrategy:
{{- end }}
{{- if ((.Values.gateway.strategy).type) }}
    type: {{ .Values.gateway.strategy.type }}
{{- else }}
    # indicate which strategy we want for rolling update
    type: RollingUpdate
    rollingUpdate:
{{- if eq .Values.gateway.kind "Deployment" }}
      maxSurge: 2
{{- end }}
      maxUnavailable: 1
{{- end }}
  selector:
    matchLabels:
      app: gateway-{{ include "tyk-hybrid.fullname" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: gateway-{{ include "tyk-hybrid.fullname" . }}
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-gateway.yaml") . | sha256sum }}
        checksum/secrets: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
        checksum/secret-certs: {{ include (print $.Template.BasePath "/secret-certs.yaml") . | sha256sum }}
        {{- if .Values.gateway.mounts }}
        {{- range $secret := .Values.gateway.mounts }}
        "checksum/secret-{{ $secret.name }}": {{ include (print "mounts/%s" $secret.filename) . | sha256sum }}
        {{- end }}
        {{- end }}
    spec:
{{- if .Values.gateway.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.gateway.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.gateway.tolerations }}
      tolerations:
{{ toYaml .Values.gateway.tolerations | indent 8 }}
{{- end }}
{{- if .Values.gateway.affinity }}
      affinity:
{{ toYaml .Values.gateway.affinity | indent 8 }}
{{- end }}
      containers:
      - name: gateway-{{ .Chart.Name }}
        image: "{{ .Values.gateway.image.repository }}:{{ .Values.gateway.image.tag }}"
        imagePullPolicy: {{ .Values.gateway.image.pullPolicy }}
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - all
        env:
          - name: TYK_GW_LISTENPORT
            value: "{{ .Values.gateway.containerPort }}"
          # Lagacy support for Redis Cluster driver. Driver dropped in v3.0.0.
          - name: REDIGOCLUSTER_SHARDCOUNT
            value: "128"
          - name: TYK_GW_STORAGE_ADDRS
            value: {{ include "tyk-hybrid.redis_url" . | quote }}
          - name: TYK_GW_STORAGE_ENABLECLUSTER
            value: "{{ default "false" .Values.redis.enableCluster }}"
          - name: TYK_GW_STORAGE_DATABASE
            value: "{{ default "0" .Values.redis.storage.database }}"
          - name: TYK_GW_STORAGE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-hybrid.fullname" . }} {{ end}}
                key: redisPass
          - name: TYK_GW_STORAGE_USESSL
            value: "{{ default "false" .Values.redis.useSSL }}"
          - name: TYK_GW_HTTPSERVEROPTIONS_USESSL
            value: "{{ .Values.gateway.tls }}"
          - name: TYK_GW_SLAVEOPTIONS_RPCKEY
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-hybrid.fullname" . }} {{ end}}
                key: rpcKey
          - name: TYK_GW_SLAVEOPTIONS_APIKEY
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-hybrid.fullname" . }} {{ end}}
                key: apiKey
          - name: TYK_GW_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-hybrid.fullname" . }} {{ end}}
                key: APISecret
          - name: TYK_GW_SLAVEOPTIONS_CONNECTIONSTRING
            value: "{{ .Values.gateway.rpc.connString }}"
          - name: TYK_GW_SLAVEOPTIONS_USESSL
            value: "{{ .Values.gateway.rpc.useSSL }}"
          - name: TYK_GW_SLAVEOPTIONS_BINDTOSLUGSINSTEADOFLISTENPATHS
            value: "{{ default "false" .Values.gateway.rpc.bindToSlugs }}"
          - name: TYK_GW_SLAVEOPTIONS_SSLINSECURESKIPVERIFY
            value: "{{ .Values.gateway.rpc.sslInsecureSkipVerify }}"
        {{- if .Values.gateway.rpc.groupId }}
          - name: TYK_GW_SLAVEOPTIONS_GROUPID
            value: "{{ .Values.gateway.rpc.groupId }}"
        {{- end }}
        # Enable backward compatibility to chart 0.5.1.
        {{- if or .Values.gateway.sharding .Values.enableSharding}}
          - name: TYK_GW_DBAPPCONFOPTIONS_NODEISSEGMENTED
            {{- if .Values.gateway.sharding }}
            value: "{{ .Values.gateway.sharding.enabled }}"
            {{- else }}
            value: "{{ .Values.enableSharding }}"
            {{- end }}
        {{- end }}
        # Enable backward compatibility to chart 0.5.1.
        {{- if or .Values.gateway.sharding .Values.enableSharding}}
          - name: TYK_GW_DBAPPCONFOPTIONS_TAGS
            {{- if .Values.gateway.sharding }}
            value: "{{ .Values.gateway.sharding.tags }}"
            {{- else }}
            value: "{{ .Values.gateway.tags }}"
            {{- end }}
        {{- end }}
          {{- with .Values.gateway.extraEnvs }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        command: ["/opt/tyk-gateway/tyk", "--conf=/etc/tyk-gateway/tyk.conf"]
        workingDir: /opt/tyk-gateway
        ports:
        - containerPort: {{ .Values.gateway.containerPort }}
        resources:
{{ toYaml .Values.gateway.resources | indent 12 }}
        volumeMounts:
          - name: hybrid-gateway-conf
            mountPath: /etc/tyk-gateway
          - name: {{ .Release.Name }}-default-cert
            mountPath: /etc/certs
          - name: tyk-scratch
            mountPath: /mnt/tyk-gateway
          {{- if .Values.gateway.mounts }}
          {{- range $secret := .Values.gateway.mounts }}
          - name: {{ $.Release.Name }}-gateway-secret-{{ $secret.name }}
            mountPath: {{ $secret.mountPath }}
          {{- end }}
          {{- end }}
        livenessProbe:
          httpGet:
            scheme: "HTTP{{ if .Values.gateway.tls }}S{{ end }}"
            path: /hello
            port: {{ .Values.gateway.containerPort }}
          initialDelaySeconds: 5
          periodSeconds: 2
          timeoutSeconds: 3
          failureThreshold: 2
        readinessProbe:
          httpGet:
            scheme: "HTTP{{ if .Values.gateway.tls }}S{{ end }}"
            path: /hello
            port: {{ .Values.gateway.containerPort }}
          initialDelaySeconds: 1
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
      {{- if .Values.gateway.securityContext }}
      securityContext:
      {{- toYaml .Values.gateway.securityContext | nindent 10 }}
      {{- end }}
      volumes:
        - name: hybrid-gateway-conf
          configMap:
            name: hybrid-gateway-conf-{{ include "tyk-hybrid.fullname" . }}
            items:
              - key: tyk_hybrid.conf
                path: tyk.conf
        - name: tyk-scratch
          emptyDir: {}
        - name: {{ .Release.Name }}-default-cert
          secret:
            secretName: {{ .Release.Name }}-default-cert
        {{- if .Values.gateway.mounts }}
        {{- range $secret := .Values.gateway.mounts }}
        - name: {{ $.Release.Name }}-gateway-secret-{{ $secret.name }}
          secret:
            secretName: {{ $.Release.Name }}-gateway-secret-{{ $secret.name }}
        {{- end }}
        {{- end }}
