{{- if .Values.pump.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pump-{{ include "tyk-pro.fullname" . }}
  labels:
    app: pump-{{ include "tyk-pro.fullname" . }}
    chart: {{ include "tyk-pro.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.pump.replicaCount }}
  selector:
    matchLabels:
      app: pump-{{ include "tyk-pro.fullname" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: pump-{{ include "tyk-pro.fullname" . }}
        release: {{ .Release.Name }}
      {{- if .Values.pump.annotations }}
      annotations:
      {{- range $key, $value := .Values.pump.annotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      {{- end }}
    spec:
{{- if .Values.pump.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.pump.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.pump.tolerations }}
      tolerations:
{{ toYaml .Values.pump.tolerations | indent 8 }}
{{- end }}
{{- if .Values.pump.affinity }}
      affinity:
{{ toYaml .Values.pump.affinity | indent 8 }}
{{- end }}
      containers:
      - name: pump-{{ .Chart.Name }}
        image: "{{ .Values.pump.image.repository }}:{{ .Values.pump.image.tag }}"
        imagePullPolicy: {{ .Values.pump.image.pullPolicy }}
        workingDir: "/opt/tyk-pump"
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - all
        env:
          # Legacy support for Redis Cluster driver. Driver dropped in v3.0.0.
          - name: REDIGOCLUSTER_SHARDCOUNT
            value: "128"

          - name: TYK_PMP_ANALYTICSSTORAGECONFIG_DATABASE
            value: "{{ .Values.redis.storage.database }}"
          - name: TYK_PMP_ANALYTICSSTORAGECONFIG_REDISUSESSL
            value: "{{ default "false" .Values.redis.useSSL }}"
          - name: TYK_PMP_ANALYTICSSTORAGECONFIG_ADDRS
            value: {{ include "tyk-pro.redis_url" . | quote }}
          - name: TYK_PMP_ANALYTICSSTORAGECONFIG_ENABLECLUSTER
            value: "{{ default "false" .Values.redis.enableCluster }}"
          - name: TYK_PMP_ANALYTICSSTORAGECONFIG_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: redisPass
          
          {{ if eq "postgres" (include "tyk-pro.backend" .) }}
          # SQL Pump
          - name: TYK_PMP_PUMPS_SQL_META_CONNECTIONSTRING
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: pgConnectionString

          # SQL Aggregate Pump
          - name: TYK_PMP_PUMPS_SQLAGGREGATE_META_CONNECTIONSTRING
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: pgConnectionString

          # SQL Uptime Pump
          - name: TYK_PMP_UPTIMEPUMPCONFIG_CONNECTIONSTRING
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: pgConnectionString
          {{ else }}
          # Mongo Pump
          - name: TYK_PMP_PUMPS_MONGO_META_MONGOURL
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: mongoURL
          - name: TYK_PMP_PUMPS_MONGO_META_MONGOUSESSL
            value: "{{ default "false" .Values.mongo.useSSL }}"

          # Mongo Aggregate Pump
          - name: TYK_PMP_PUMPS_MONGOAGGREGATE_META_MONGOURL
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: mongoURL
          - name: TYK_PMP_PUMPS_MONGOAGGREGATE_META_MONGOUSESSL
            value:  "{{ default "false" .Values.mongo.useSSL }}"

          # Mongo Uptime Pump
          - name: TYK_PMP_UPTIMEPUMPCONFIG_MONGOURL
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: mongoURL
          {{ end }}
 
          {{- if .Values.pump.extraEnvs }}
          {{- toYaml .Values.pump.extraEnvs| nindent 10 }}
          {{- end }}
        command: ["/opt/tyk-pump/tyk-pump", "-c", "/etc/tyk-pump/{{ include "tyk-pro.pmp_config" . }}"]
        volumeMounts:
          - name: tyk-pump-conf
            mountPath: /etc/tyk-pump
          {{- if .Values.pump.mounts }}
          {{- range $secret := .Values.pump.mounts }}
          - name: {{ $.Release.Name }}-pump-secret-{{ $secret.name }}
            mountPath: {{ $secret.mountPath }}
          {{- end }}
          {{- end }}
        resources:
{{ toYaml .Values.pump.resources | indent 12 }}
      securityContext:
        runAsUser: 1000
        fsGroup: 2000
      volumes:
        - name: tyk-pump-conf
          configMap:
            name: pump-conf-{{ include "tyk-pro.fullname" . }}
            items:
              - key: {{ include "tyk-pro.pmp_config" . }}
                path: {{ include "tyk-pro.pmp_config" . }}
        {{- if .Values.pump.mounts }}
        {{- range $secret := .Values.pump.mounts }}
        - name: {{ $.Release.Name }}-pump-secret-{{ $secret.name }}
          secret:
            secretName: {{ $.Release.Name }}-pump-secret-{{ $secret.name }}
        {{- end }}
        {{- end }}
{{- end}}
