{{- if .Values.dash.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard-{{ include "tyk-pro.fullname" . }}
  labels:
    app: dashboard-{{ include "tyk-pro.fullname" . }}
    chart: {{ include "tyk-pro.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.dash.replicaCount }}
  minReadySeconds: 5
  strategy:
    # indicate which strategy we want for rolling update
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
  selector:
    matchLabels:
      app: dashboard-{{ include "tyk-pro.fullname" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: dashboard-{{ include "tyk-pro.fullname" . }}
        release: {{ .Release.Name }}
      annotations:
      # Enable backward compatibility to chart 0.8.1.
      {{- if or .Values.gateway.enableIstioIngress .Values.enableIstioIngress }}
        traffic.sidecar.istio.io/excludeInboundPorts: "{{ .Values.dash.containerPort }}"
        traffic.sidecar.istio.io/includeInboundPorts: ""
      {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap-dashboard.yaml") . | sha256sum }}
        checksum/secrets: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
        {{- if .Values.dash.mounts }}
        {{- range $secret := .Values.dash.mounts }}
        "checksum/secret-{{ $secret.name }}": {{ include (print "mounts/%s" $secret.filename) . | sha256sum }}
        {{- end }}
        {{- end }}
    spec:
{{- if .Values.dash.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.dash.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.dash.tolerations }}
      tolerations:
{{ toYaml .Values.dash.tolerations | indent 8 }}
{{- end }}
{{- if .Values.dash.affinity }}
      affinity:
{{ toYaml .Values.dash.affinity | indent 8 }}
{{- end }}
      containers:
      - image: "{{ .Values.dash.image.repository }}:{{ .Values.dash.image.tag }}"
        imagePullPolicy: {{ .Values.dash.image.pullPolicy }}
        name: dashboard-{{ .Chart.Name }}
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - all
        env:
          - name: TYK_DB_LISTENPORT
            value: "{{ .Values.dash.containerPort }}"
          # Legacy support for Redis Cluster driver. Driver dropped in v3.0.0.
          - name: REDIGOCLUSTER_SHARDCOUNT
            value: "128"
          {{- if .Values.gateway.control.enabled }}
          - name: TYK_DB_TYKAPI_HOST
            value: "{{ include "tyk-pro.gwproto" . }}://gateway-control-svc-{{ include "tyk-pro.fullname" . }}.{{ .Release.Namespace }}"
          - name: TYK_DB_TYKAPI_PORT
            value: "{{ .Values.gateway.control.containerPort }}"
          {{- else }}
          - name: TYK_DB_TYKAPI_HOST
            value: "{{ include "tyk-pro.gwproto" . }}://gateway-svc-{{ include "tyk-pro.fullname" . }}.{{ .Release.Namespace }}"
          - name: TYK_DB_TYKAPI_PORT
            value: "{{ .Values.gateway.service.port }}"
          {{- end }}
          - name: TYK_DB_TYKAPI_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end}}
                key: APISecret

          - name: TYK_DB_ADMINSECRET
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end}}
                key: AdminSecret
          - name: TYK_DB_NODESECRET
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end}}
                key: APISecret
          - name: TYK_DB_LICENSEKEY
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end}}
                key: DashLicense
            
          - name: TYK_DB_REDISADDRS
            value: {{ include "tyk-pro.redis_url" . | quote }}
          - name: TYK_DB_ENABLECLUSTER
            value: "{{ default "false" .Values.redis.enableCluster }}"
          - name: TYK_DB_REDISPASSWORD
            valueFrom:
              secretKeyRef:
                name:{{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end}}
                key: redisPass
          - name: TYK_DB_REDISUSESSL
            value: "{{ default "false" .Values.redis.useSSL }}"
          - name: TYK_DB_REDISSSLINSECURESKIPVERIFY
            value: "true"
            
          - name: TYK_DB_HTTPSERVEROPTIONS_USESSL
            value: "{{ .Values.dash.tls }}"

          - name: TYK_DB_HOSTCONFIG_HOSTNAME
            value: "{{ .Values.dash.hostName }}"
          - name: TYK_DB_HOSTCONFIG_GATEWAYHOSTNAME
            value: "{{ .Values.gateway.hostName }}"
          - name: TYK_DB_HOSTCONFIG_PORTALROOTPATH
            value:  {{ .Values.portal.path }}
          {{ if eq "postgres" (include "tyk-pro.backend" .) }}
          - name: TYK_DB_ENABLEAGGREGATELOOKUPS
            value: "false"
          - name: TYK_DB_STORAGE_MAIN_TYPE
            value: "postgres"
          - name: TYK_DB_STORAGE_MAIN_CONNECTIONSTRING
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: pgConnectionString

          - name: TYK_DB_STORAGE_ANALYTICS_TYPE
            value: "postgres"
          - name: TYK_DB_STORAGE_ANALYTICS_CONNECTIONSTRING
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: pgConnectionString

          - name: TYK_DB_STORAGE_UPTIME_TYPE
            value: "postgres"
          - name: TYK_DB_STORAGE_UPTIME_CONNECTIONSTRING
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end }}
                key: pgConnectionString
          {{ else }}
          - name: TYK_DB_STORAGE_MAIN_TYPE
            value: "mongo"
          - name: TYK_DB_MONGOURL
            valueFrom:
              secretKeyRef:
                name: {{ if .Values.secrets.useSecretName }} {{ .Values.secrets.useSecretName }} {{ else }} secrets-{{ include "tyk-pro.fullname" . }} {{ end}}
                key: mongoURL
          - name: TYK_DB_MONGOUSESSL
            value: "{{ default "false" .Values.mongo.useSSL }}"
          {{ end }}
          {{- with .Values.dash.extraEnvs }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        resources:
{{ toYaml .Values.dash.resources | indent 12 }}
        command: ["/opt/tyk-dashboard/tyk-analytics", "--conf=/etc/tyk-dashboard/tyk_analytics.conf"]
        workingDir: /opt/tyk-dashboard
        ports:
        - containerPort: {{ .Values.dash.containerPort }}
        volumeMounts:
          - name: tyk-dashboard-conf
            mountPath: /etc/tyk-dashboard
          {{- if .Values.dash.mounts }}
          {{- range $secret := .Values.dash.mounts }}
          - name: {{ $.Release.Name }}-dash-secret-{{ $secret.name }}
            mountPath: {{ $secret.mountPath }}
          {{- end }}
          {{- end }}
        livenessProbe:
          httpGet:
            scheme: "HTTP{{ if .Values.dash.tls }}S{{ end }}"
            path: /
            port: {{ .Values.dash.containerPort }}
          initialDelaySeconds: 10
          periodSeconds: 2
          timeoutSeconds: 3
          failureThreshold: 2
        readinessProbe:
          httpGet:
            scheme: "HTTP{{ if .Values.dash.tls }}S{{ end }}"
            path: /
            port: {{ .Values.dash.containerPort }}
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
      {{- if .Values.dash.securityContext }}
      securityContext:
      {{- toYaml .Values.dash.securityContext | nindent 10 }}
      {{- end }}
      volumes:
        - name: tyk-dashboard-conf
          configMap:
            name: dashboard-conf-{{ include "tyk-pro.fullname" . }}
            items:
              - key: tyk_analytics.conf
                path: tyk_analytics.conf
        {{- if .Values.dash.mounts }}
        {{- range $secret := .Values.dash.mounts }}
        - name: {{ $.Release.Name }}-dash-secret-{{ $secret.name }}
          secret:
            secretName: {{ $.Release.Name }}-dash-secret-{{ $secret.name }}
        {{- end }}
        {{- end }}
{{- end }}
