{{- if .Values.tib.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tib-{{ include "tyk-pro.fullname" . }}
  labels:
    app: tib-{{ include "tyk-pro.fullname" . }}
    chart: {{ include "tyk-pro.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.tib.replicaCount }}
  selector:
    matchLabels:
      app: tib-{{ include "tyk-pro.fullname" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: tib-{{ include "tyk-pro.fullname" . }}
        release: {{ .Release.Name }}
    spec:
      minReadySeconds: 20
      strategy:
        # indicate which strategy we want for rolling update
        type: RollingUpdate
        rollingUpdate:
          maxSurge: 2
          maxUnavailable: 1
{{- if .Values.tib.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.tib.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.tib.tolerations }}
  tolerations:
{{ toYaml .Values.tib.tolerations | indent 8 }}
{{- end }}
{{- if .Values.tib.affinity }}
      affinity:
{{ toYaml .Values.tib.affinity | indent 8 }}
{{- end }}
      containers:
      - image: "{{ .Values.tib.image.repository }}:{{ .Values.tib.image.tag }}"
        imagePullPolicy: {{ .Values.tib.image.pullPolicy }}
        name: tib-{{ .Chart.Name }}
        env:
          - name: TYK_IB_SECRET
            value: "{{ .Values.tib.secret }}"
          - name: TYK_IB_HTTPSERVEROPTIONS_USESSL
            value: "{{ .Values.tib.useSSL }}"
          - name: TYK_IB_TYKAPISETTINGS_DASHBOARDCONFIG_ADMINSECRET
            value: "{{ .Values.secrets.AdminSecret }}"
          - name: TYK_IB_TYKAPISETTINGS_GATEWAYCONFIG_ENDPOINT
            value: "{{ include "tyk-pro.gwproto" . }}://gateway-svc-{{ include "tyk-pro.fullname" . }}.{{ .Release.Namespace }}"
          - name: TYK_IB_TYKAPISETTINGS_GATEWAYCONFIG_PORT
            value: "8080"
          - name: TYK_IB_TYKAPISETTINGS_GATEWAYCONFIG_ADMINSECRET
            value: "{{ .Values.secrets.AdminSecret }}"
          - name: TYK_IB_TYKAPISETTINGS_DASHBOARDCONFIG_ENDPOINT
            value: "http://dashboard-svc-{{ include "tyk-pro.fullname" . }}.{{ .Release.Namespace }}"
          - name: TYK_IB_TYKAPISETTINGS_DASHBOARDCONFIG_PORT
            value: "{{ .Values.dash.service.port }}"
        {{- if .Values.tib.extraEnvs }}
        {{- range $env := .Values.tib.extraEnvs }}
          - name: {{ $env.name }}
            value: {{ $env.value | quote }}
        {{- end }}
        {{- end }}
        resources:
{{ toYaml .Values.tib.resources | indent 10 }}
        ports:
        - containerPort:  {{ .Values.tib.service.port }}
        volumeMounts:
          - name: tyk-tib-conf-volume
            mountPath: /opt/tyk-identity-broker/tib.conf
            subPath: tib.conf
            readOnly: true
          - name: tyk-tib-profiles-conf-volume
            mountPath: /opt/tyk-identity-broker/profiles.json
            subPath: profiles.json
            readOnly: true
      volumes:
        - name: tyk-tib-conf-volume
          configMap:
            name: tyk-tib-conf
        - name: tyk-tib-profiles-conf-volume
          configMap:
            name: {{ .Values.tib.configMap.profiles }}
{{- end }}